<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <%- header %>
    <div class="container">
      <div class="sidebar">
        <%- sidebar %>
      </div>
      <div class="content">
        <%- content %>
      </div>
    </div>
    <%- footer %>
  </body>
</html>